<launch>

  <arg name="camera" default="left_camera" />
  <arg name="rgb_frame_id"   default="$(arg camera)_rgb_optical_frame" />
  <arg name="depth_frame_id" default="$(arg camera)_depth_optical_frame" />


 <!-- Include official launch file and specify camera_info urls -->
 <include file="$(find openni2_launch)/launch/openni2.launch">
   <!-- provide arguments to that launch file -->
   <arg name="auto_exposure" value="false" />
   <arg name="auto_white_balance" value="false" />
   <arg name="camera" value="$(arg camera)" />
   <arg name="rgb_frame_id" value="$(arg rgb_frame_id)" />
   <arg name="depth_frame_id" value="$(arg depth_frame_id)" />
   <arg name="rgb_camera_info_url"
        value="file://$(find boris_tools)/calib_data/left_rgb_PS1080_PrimeSense.yaml" />
   <arg name="depth_camera_info_url"
        value="file://$(find boris_tools)/calib_data/left_depth_PS1080_PrimeSense.yaml" />
 </include>

</launch>