<launch>

    <arg name="side"              default="left"/>
    <arg name="rate"      default="1900"/>
    <arg name="host_ip"      default="10.0.11.163"/>    <!-- in m -->
    
    <node pkg="boris_tools" type="mock_imu_node.py" name="$(arg side)_boris_mock_imu" output="screen">
        <param name="rate" value="$(arg rate)"/>
    </node>

    <node pkg="boris_tools" type="ft_sensor_node.py" name="$(arg side)_boris_ft_sensor" output="screen">
        <param name="rate" value="$(arg rate)"/>
        <param name="ft_topic_raw" value="$(arg side)_arm/ft_sensor_raw"/>
        <param name="ft_topic" value="$(arg side)_arm/ft_sensor"/>
        <param name="ft_topic_pred"      value="$(arg side)_arm/ft_sensor_pred"/>
        <param name="frame_id"      value="$(arg side)_ft_sensor"/>
        <param name="host_ip"  value="$(arg host_ip)"/>
    </node>

</launch>

