<?xml version="1.0"?>
<model>
  <name>marker26_14cm_margin_1cm</name>
  <version>1.0</version>
  <description>
    Aruco marker 26 of 14 cm side length
  </description>
  <author>
    <name>Ermano Arruda</name>
    <email>exa371@bham.ac.uk</email>
  </author>
  <sdf version='1.3'>marker26_14cm_margin_1cm.sdf</sdf>
</model>


